@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply font-serif;
    @apply tracking-wide;
  }

  h3 {
    @apply font-serif;
  }

  h5 {
    @apply uppercase;
    @apply font-bold;
  }

  p {
    @apply py-4;
  }

  em {
    @apply text-sm;
    @apply text-[grey];
  }

  input,
  textarea {
    @apply bg-gray-200;
    @apply p-2;
    @apply rounded;
  }
  button {
    @apply mr-4;
    @apply my-2;
    @apply px-4;
    @apply py-2;
    @apply bg-black;
    @apply text-white;
    @apply rounded;
  }
}

.button-style {
  border: solid grey 1px;
  padding: 0.4em;
  border-radius: 0.25rem;
}
