@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply font-serif;
    @apply tracking-wide;
  }
  ,
  h3 {
    @apply font-serif;
  }
  p {
    @apply py-4;
  }

  input,
  textarea {
    @apply bg-gray-200;
    @apply p-2;
    @apply rounded;
  }
}

.button-style {
  border: solid grey 1px;
  padding: 0.4em;
  border-radius: 0.25rem;
}
